html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.relative {
  position: relative;
}

.demo-container {
  width: 100%;
  max-width: 300px;
  padding: 15px;
  margin: auto;

  .demo-card-square.mdl-card {
    width: 300px;
    height: 320px;
  }

  .demo-card-square > .mdl-card__title {
    color: #fff;
    background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==') bottom right 15% no-repeat, linear-gradient(145deg,#0d47a1,#42a5f5);
  }

  .row {
    display:table-row;
    .cell {
      display:table-cell;
      padding: 30px;
    }
  }

  .version {
    color: rgba(0,0,0, 0.54);
    font-size: 12px;
    margin: 0;
    padding: 0;
  }
}