<div class="demo-container">
  <br>
  <h3 style="text-align:center">
    {{title}}
  </h3>
  <br>
  <div class="demo-card-square mdl-card mdl-shadow--2dp">
    <div ripple class="relative mdl-card__title mdl-card--expand"
      (rpress)="onPress($event)"
      (rpressup)="onPressup($event)"
      (rclick)="onClick($event)"
      (rtap)="onTap($event)">
      <h2 class="mdl-card__title-text">{{cardTitle}}</h2>
    </div>
    <div ripple fixed-ripple class="relative mdl-card__supporting-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Aenan convallis.
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <mdl-flat-btn>button</mdl-flat-btn>
      
    </div>
  </div>
  <br>
  <div class="row">
    <div class="cell">
      <mdl-raised-btn>left</mdl-raised-btn>
    </div>
    <div class="cell">
      <mdl-colored-btn>right</mdl-colored-btn>
    </div>
  </div>
</div>
